.pdftron {
  .pdf-header {
    background: var(--header-bg);
    color: var(--text-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .pdf-logo {
      // width: 180px;
      display: flex;
      align-items: center;

      .logo {
        width: 46px;
        height: 46px;
        margin-right: 22px;
      }
    }
  }

  .pdf-sider {
    background: var(--side-bg);
    color: var(--text-color);
  }

  .pdf-content {
    background: var(--content-bg);
    color: var(--text-color);
    padding: 20px;
  }
}

.pdf-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  > a {
    width: calc(100% / 3);
    text-align: center;
    color: var(--text-color);

    &.active {
      span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: calc(100% + 10px);
          height: 100%;
          width: 5px;
          background: #16fc57;
        }
      }
    }
  }
}

.pdf-sider-menu {
  padding-top: 100px;
  user-select: none;

  .sider-menu-item {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    margin: 20px 0;
    color: var(--text-color);
    padding-left: 35px;

    .sider-menu-icon {
      width: 20px;
      margin-right: 15px;
    }

    &.active {
      background-color: var(--content-bg);
    }
  }
}

.pdf-lang-select {
  color: var(--text-color);
  border: 2px solid var(--text-color);
  display: flex;
  font-size: 12px;

  .pdf-lang-item {
    line-height: 20px;
    cursor: pointer;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;

    &.active {
      background: #fff;
      color: var(--header-bg);
    }
  }
}

.pdf-func-col {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  .icon,
  .text {
    display: block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
  }

  .text {
    padding-top: 15px;
    color: var(--text-color);
    font-size: 12px;
    width: auto;
  }
}

.pdf-upload-area {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon-upload {
    width: 126px;
  }

  .desc {
    padding: 15px 0;
  }
}

.login-modal {
  .ant-modal-content {
    padding: 0;
    border-radius: 0;
  }
}
