@import url('./reset.css');

:root {
  --content-bg: #484848;
  --header-bg: #282828;
  --side-bg: #535353;
  --text-color: #fff;
  --font-family: 'PingFang SC', -apple-system, blinkmacsystemfont, roboto,
    'Helvetica Neue', helvetica, arial, 'Hiragino Sans GB', 'Source Han Sans',
    'Noto Sans CJK Sc', 'Microsoft YaHei', 'Microsoft Jhenghei', sans-serif;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font-family);
  font-size: 14px;
}

#root > section {
  height: 100%;
}
